In [1]:
import pandas as pd
from pydataset import data

In [2]:
df = data('mpg')

In [4]:
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [5]:
df.manufacturer.unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

In [6]:
len(df.manufacturer.unique())

15

In [13]:
# exercise - homany different mannufacturers are there?
# Writ e a function called ecercise1 thaat takes in a dataframe that takes a dataframe and returns the answuer 
#Asserctions
def exercise1(df):
    return len(df.manufature.unique())

assert exercise1(df) == 15 
print("Exercise q is correct")

AttributeError: 'DataFrame' object has no attribute 'manufature'

# Soecufuc Pandas Questions
- how di i filter stuff?
    - We filter using boolean masks (topic in the curriclum is called indexing and subsetting)
    - Applais to numpy, series, and dataframs
    - Answer is to ise arraus/series of booleans
        -Begs the question, how so we gwt arraus of booleans?
        - Once

In [14]:
df.manufacturer == "audi"

1       True
2       True
3       True
4       True
5       True
       ...
230    False
231    False
232    False
233    False
234    False
Name: manufacturer, Length: 234, dtype: bool

In [15]:
audies = df[]

SyntaxError: invalid syntax (<ipython-input-15-bc11f5fdbb07>, line 1)

In [ ]:
#filter out only oudis with city milage> 20
# We can buil multple arrays of bolleans and combine them withh & foe and,